Source: easycheck
Section: unknown
Priority: optional
Maintainer: vitex <info@vitexsoftware.cz>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.5.0
Homepage: https://github.com/easyredmine/easy_server_requirements_check
Vcs-Git: https://github.com/easyredmine/easy_server_requirements_check
Vcs-Browser: https://github.com/easyredmine/easy_server_requirements_check

Package: easycheck
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, bash 
	${shlibs:Depends}
Recommends: curl, ruby|ruby-rubygems, ruby-bundler, gcc, mariadb-client, build-essential, ruby-dev, libxslt1-dev, default-libmysqlclient-dev|libmariadb-dev, libxml2-dev, zlib1g-dev, imagemagick,libmagickwand-dev
Description: Check destination system for Redmine requirements.
 Bash shell script that Check destination system for (Easy)Redmine requirements.
 